@inherits LayoutComponentBase

<div class="page">
    @*
        <div class="sidebar">
        <NavMenu />
        </div>
    *@
    <main>
        <div class="top-row px-4">
            <a href="https://github.com/codemonkey85/Rickies" target="_blank">Source code at GitHub</a>
        </div>

        <article class="content px-4">
            @Body
            <footer>
                Special thanks to Lex Postma (<a href="https://rickies.co/api">Rickies.co</a>, <a href="https://github.com/lexpostma/Rickies/">GitHub</a>)
            </footer>
        </article>
    </main>
</div>
